[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opcua = "*"
python-dotenv = "*"
dash = "==2.18.1"
dash-html-components = "==2.0.0"
dash-core-components = "==2.0.0"
plotly = "==5.24.1"
asyncua = "1.1.5"

[dev-packages]

[requires]
python_version = "3.10"
