.dashboard-customer {
    display: grid;
    grid-template-areas: 
    "order-config order-queue hbw-view"
    ;
    grid-template-columns: 1fr 1.5fr 1fr;
    background-color: var(--bg-color-1);
}

.dashboard-customer > div {
    margin: 5px;
    padding: 15px;
    background-color: white;
}

.order-config {
    display: flex;
    flex-flow: column nowrap;
    padding: 5px;
}

.order-config > div {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.order-config > button:last-child {
    margin-top: 20px;
}

.order-config .dash-dropdown {
    width: 100%;
}

.queue-full-banner {
    grid-column: 1 / -1; 
    border: 2px solid red;
    color: red;
}

div.puck-empty, div.puck-red, div.puck-blue, div.puck-white {
    border-radius: 25px;
    display: grid;
    place-items: center;
}

div.puck-empty {
    background-color: var(--bg-color-1);
}

div.puck-red {
    background-color: var(--red-puck-color);
    color: white;
}

div.puck-blue {
    background-color: var(--blue-puck-color);
    color: white;
}

div.puck-white {
    background-color: var(--white-puck-color);
    color: black;
}