/* Styling for the "Factory Data" page. */
@import './style.css';

.device-data-table {
    overflow-x: scroll;
    width: 100%;
    border-collapse: collapse;

    padding: 20px;
}

.device-data-table > tr:first-child {
    background-color: var(--bg-color-2);
}

.device-data-table > tr > td,th {
    text-align: center;
    margin: 20px;
}

.device-data-table > tr:nth-child(even) {
    background-color: var(--bg-color-1);
}