/* Styling for the "Factory Data" page. */

.device-data-table {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    overflow-x: scroll;
}

.device-data-table > .value {
    font-weight: bold;
}

.device-data-table > * {
    align-self: center;
    margin: 20px;
}